/* Asegura que el contenedor raíz ocupa toda la ventana */
html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Estilo neutral, sin centrar nada */
body {
  display: block;
  background-color: #242424; /* opcional */
  font-family: Helvetica, Arial, sans-serif;
}

